.product-details .products-features .tabs .tabs-controls li a{
    font-size: 16px;
    color: #70838d;
    display: block;
    padding: 23px;
    height: 60px;
}
.product-details .products-features .tabs .tabs-controls li{
    border: 1px solid #dcdcdc;
    width: 25%;
    text-align: center;
}
.product-details .products-features .tabs .tabs-controls li + li{
    border-left: none;
}
.product-details .products-features .tabs .tabs-controls li a:active,
.product-details .products-features .tabs .tabs-controls li a:hover{
    border-bottom: 3px solid #8bc34a;
    color: #263238;
    font-weight: 500;
}
.product-details .products-features .tabs-content{
    border: 1px solid #dcdcdc;
    border-top: none;
}
.product-details .products-features .tabs .tabs-content .tab-pane{
    display: none;
}
.product-details .products-features .tabs .tabs-content .tab-pane.active{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.products-features .prod-banner{
    background-color: #fff;
    border: 1px solid #dedede;
}
.products-features .prod-banner img{
    padding: 20px;
}
.products-features .products-features-text .aside-title{
    font-size: 30px;
}
.products-features .products-features-text p{
    font-size: 16px;
    line-height: 1.5;
    margin-top: 26px;
}
.products-features .products-features-text{
    margin: 39px 0 45px 0;
}
.products-features .btn-and-social{
    margin-bottom: 55px;
}
.products-features .btn-and-social .prod-btn a+a{
    margin-left: 18px;
}
.products-features .social-nav li+li{
    margin-left: 3px;
}
.products-features .social-nav li:hover{
    opacity: 0.7;
}